/* AdminSidebar.module.css */

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.sidebar_logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
}

.sidebar_menu_item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar_menu_item:hover {
    background-color: #444;
}

.sidebar_menu_item_icon {
    margin-right: 10px;
}

.sidebar_menu_item_text {
    font-size: 16px;
}

/* Dropdown */
.sidebar_menu_dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%; /* Alterado para ocupar toda a largura */
    padding: 10px;
    background-color: #222;
    border-radius: 4px;
    z-index: 1000;
    display: none;
}

.sidebar_menu_dropdown_item {
    display: block;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar_menu_dropdown_item:hover {
    color: #e5e5e5;
}
