.create_post{
    margin-top: 1.2em;
    justify-content: center;
    text-align: center;
}

.create_post h2{
    margin-bottom: 1.5em;
}

.create_post button{
    margin-top: 1.5em;
    margin: auto;
    width: 10em;
    margin-bottom: 50px;
}

.react-draft-wysiwyg {
    height: 300px; /* Ajuste conforme necessário */
  }
  
  .react-draft-wysiwyg .DraftEditor-root {
    min-height: 200px; /* Ajuste conforme necessário */
  }