.register{
    width: 100%;
    text-align: center;
}

.register_form{
    margin-top: 1.2em;
}

.register_form h1{
    margin-bottom: 1.2em;
}

.register_form p{
    color: #aaa;
}

.btn{
    margin-bottom: 1.2em;
}

.space{
    margin-bottom: 1.5em;
}